@model IEnumerable<ViolazioniOverTenPointsViewModel>

@{
    ViewData["Title"] = "Violazioni che superano i 10 punti";
}

<h1>Violazioni che superano i 10 punti</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Importo</th>
            <th>Data Violazione</th>
            <th>Punti Decurtati</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Cognome</td>
                <td>@item.Importo</td>
                <td>@item.DataViolazione</td>
                <td>@item.PuntiDecurtati</td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to Reports</a>
</div>
